.background {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  background-size: cover;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  font-family: roboto;
  color: #ffffff;
  padding: 10px;
  font-size: 70px;
}
.para {
  font-family: roboto;
  color: #ffffff;
  padding: 10px;
}
.searchInput {
  width: 20vw;
  height: 4vh;
  background-color: transparent;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 6px;
  margin-left: 10px;
  color: #e4e7eb;
  font-family: roboto;
  font-weight: bold;
}
.btn {
  width: 10vw;
  height: 5vh;
  background-color: #ffffff;

  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}
.p2 {
  color: #219a6f;
  text-align: center;
  font-family: roboto;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.rightIm {
  margin-top: 130px;
}
.ss {
  padding: 10px;
  color: #ffffff;
}
